DATABASE_URL=postgresql+asyncpg://app:app@localhost:5432/app
TEST_DATABASE_URL=postgresql+asyncpg://app:app@localhost:5433/app_test
EXTERNAL_API_URL=https://api.randomdatatools.ru/
INITIAL_LOAD_COUNT=1000